/*  Neutral Colours  */
/*  Other Colours  */
/*  Theme Colour  */
html {
  width: auto;
}
html body {
  max-width: 100vw;
  background-color: #0f0318;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html body::-webkit-scrollbar {
  display: none;
}
html body nav {
  display: flex;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
html body img {
  max-width: inherit;
}
html body ul {
  list-style: none;
  margin-block-start: auto;
  margin-block-end: auto;
  padding-inline-start: 0;
}
html body .container {
  margin: 0 1.25rem;
}
html body .container-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
html body .row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
html body .align-center {
  align-items: center;
}
html body .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
html body .mb-1 {
  margin-bottom: 0.6666666667rem;
}
html body .mb-2 {
  margin-bottom: 1.3333333333rem;
}
html body .mb-3 {
  margin-bottom: 2rem;
}
html body .mb-4 {
  margin-bottom: 2.6666666667rem;
}
html body .mb-5 {
  margin-bottom: 3.3333333333rem;
}
html body .mb-6 {
  margin-bottom: 4rem;
}
html body .mt-1 {
  margin-top: 0.6666666667rem;
}
html body .mt-2 {
  margin-top: 1.3333333333rem;
}
html body .mt-3 {
  margin-top: 2rem;
}
html body .mt-4 {
  margin-top: 2.6666666667rem;
}
html body .mt-5 {
  margin-top: 3.3333333333rem;
}
html body .mt-6 {
  margin-top: 4rem;
}
html body .col-1 {
  max-width: 8.3333333333%;
  flex: 1;
}
html body .col-2 {
  max-width: 16.6666666667%;
  flex: 1;
}
html body .col-3 {
  max-width: 25%;
  flex: 1;
}
html body .col-4 {
  max-width: 33.3333333333%;
  flex: 1;
}
html body .col-5 {
  max-width: 41.6666666667%;
  flex: 1;
}
html body .col-6 {
  max-width: 50%;
  flex: 1;
}
html body .col-7 {
  max-width: 58.3333333333%;
  flex: 1;
}
html body .col-8 {
  max-width: 66.6666666667%;
  flex: 1;
}
html body .col-9 {
  max-width: 75%;
  flex: 1;
}
html body .col-10 {
  max-width: 83.3333333333%;
  flex: 1;
}
html body .col-11 {
  max-width: 91.6666666667%;
  flex: 1;
}
html body .col-12 {
  max-width: 100%;
  flex: 1;
}
html body .info {
  font-size: var(--fs-200);
  letter-spacing: 1.15px;
  color: #c8c8c8;
  font-weight: 200;
}
html body .breaker {
  width: 100%;
  height: 10rem;
}
html body .heading {
  text-transform: capitalize;
  border-left: 0.6rem solid #ffffff;
  padding-left: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 2.5rem;
  width: fit-content;
}
html body .heading h1,
html body .heading h2,
html body .heading h3,
html body .heading h4,
html body .heading h5,
html body .heading h6 {
  margin-block-start: calc(0.1 * var(--fs-800));
  margin-block-end: calc(0.1 * var(--fs-800));
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 4px;
  width: fit-content;
}
html body .bs-100 {
  box-shadow: 2px 3px 5px 1px #000000;
}
html body .bs-200 {
  box-shadow: 2px 3.75px 7px 1.4px #000000;
}
html body .bs-300 {
  box-shadow: 2.5px 3.75px 10px 2px #000000;
}
html body .bs-400 {
  box-shadow: 2.5px 3.75px 14px 3px #000000;
}
html body .bs-500 {
  box-shadow: 2.5px 3.75px 19.6px 4.2px #000000;
}
html body .bs-600 {
  box-shadow: 3.5px 5.25px 28px 5.88px #000000;
}
html body .bs-700 {
  box-shadow: 3.5px 5.25px 39px 8.2px #000000;
}
html body .bs-800 {
  box-shadow: 5px 7.35px 55px 11.5px #000000;
}
html body .bs-900 {
  box-shadow: 5px 7.35px 77px 16px #000000;
}
html body .card {
  width: 100%;
  max-width: 100%;
  background-color: rgba(200, 200, 200, 0.3137254902);
  margin-top: 5vw;
  margin-bottom: 5vw;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 4rem;
  backdrop-filter: blur(12px);
}
html body .card-header {
  margin-bottom: 1.6rem;
}
html body .card-body {
  padding-bottom: 1rem;
}
html body .card-sub {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: inherit;
  margin-bottom: 1rem;
  border-top: 3px solid #787878;
}
html body .card-sub .sub-item {
  height: 100%;
  padding: 0 1rem;
  padding-bottom: 1rem;
  border-right: 3px solid #787878;
}
html body .card-sub .sub-item:nth-last-child(1) {
  border-right: none;
}
html body .footer {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
html body .footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100% !important;
}
html body .footer-container .footer-brand {
  max-width: 8rem;
  margin-bottom: 1.5rem;
}
html body .footer-container .footer-brand img {
  width: 100%;
}
html body .footer-container .footer-description {
  font-size: var(--fs-300);
  margin-bottom: 2rem;
}
html body .footer-container .footer-heading {
  color: #646464;
  font-size: calc(1.1 * var(--fs-500));
  font-weight: 600;
  margin-bottom: 1.5rem;
}
html body .footer-container .footer-menu {
  padding-left: 1rem;
  padding-right: 1rem;
}
html body .footer-container .footer-menu .footer-option {
  margin-bottom: 0.5rem;
}
html body .footer-container .footer-menu .footer-option .footer-link {
  color: #c8c8c8;
}
html body .footer-container .footer-menu .footer-option .footer-link:hover {
  color: #00c3ff;
  transition: all 1s;
}
html body .footer-container .footer-menu .footer-option .footer-link:active {
  color: #002FFF;
}
html body .footer .credit {
  margin-top: 1rem;
}
html body .footer .credit .footer-credit {
  color: #008cff;
}
html body .footer .credit .footer-credit:hover {
  color: #00c3ff;
  transition: all 1s;
}
html body .footer .credit .footer-credit:active {
  color: #002FFF;
}

/*  Typography  */
:root {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  /*    Font Size Variables    */
  --fs-100: 0.62rem;
  --fs-200: 0.7225rem;
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.2rem;
  --fs-600: 1.44rem;
  --fs-700: 1.728rem;
  --fs-800: 2.07rem;
  --fs-900: 2.48rem;
}
:root h1,
:root h2,
:root h3,
:root h4,
:root h5,
:root h6 {
  color: #ffffff;
  font-weight: 600;
}
:root h1 {
  font-size: var(--fs-900);
  margin-block-start: calc(0.45 * var(--fs-900));
  margin-block-end: calc(0.45 * var(--fs-900));
}
:root h2 {
  font-size: var(--fs-800);
  margin-block-start: calc(0.45 * var(--fs-800));
  margin-block-end: calc(0.45 * var(--fs-800));
}
:root h3 {
  font-size: var(--fs-700);
  margin-block-start: calc(0.45 * var(--fs-700));
  margin-block-end: calc(0.45 * var(--fs-700));
}
:root h4 {
  font-size: var(--fs-600);
  margin-block-start: calc(0.45 * var(--fs-600));
  margin-block-end: calc(0.45 * var(--fs-600));
}
:root h5 {
  font-size: var(--fs-500);
  margin-block-start: calc(0.45 * var(--fs-500));
  margin-block-end: calc(0.45 * var(--fs-500));
}
:root h6 {
  font-size: var(--fs-400);
  margin-block-start: calc(0.45 * var(--fs-400));
  margin-block-end: calc(0.45 * var(--fs-400));
}
:root a {
  color: #00c3ff;
  text-decoration: none;
  font-weight: 500;
}
:root p {
  color: #8c8c8c;
  font-size: var(--fs-400);
  line-height: calc(1.33 * var(--fs-500));
  margin-block-start: calc(0.5 * var(--fs-500));
  margin-block-end: calc(0.5 * var(--fs-500));
  align-self: center;
}
:root span {
  font-size: calc(0.9 * var(--fs-400));
}
:root .text-center {
  text-align: center;
}
:root .text-left {
  text-align: left;
}
:root .text-right {
  text-align: right;
}

.btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  border: none;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: calc(1.1 * var(--fs-400));
  font-weight: 500;
  border-radius: 1.5rem;
}
.btn.big {
  font-size: var(--fs-500);
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.btn.primary {
  border: 4px solid #002FFF;
  color: #ffffff;
  background-color: #002FFF;
}
.btn.primary:hover {
  border: 4px solid #00c3ff;
  background-color: transparent;
  color: #00c3ff;
  transition: all 700ms;
  cursor: pointer;
}
.btn.light {
  border: 4px solid #ffffff;
  color: #141414;
  font-weight: 600;
  background-color: #ffffff;
}
.btn.light:hover {
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  transition: all 700ms;
  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes floatInVoid {
  0% {
    transform: rotateZ(0deg);
    left: 2%;
    opacity: 0%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    transform: rotateZ(2160deg);
    left: 98%;
    opacity: 0%;
  }
}
@keyframes loading {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.navbar {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  animation: fadein 700ms;
  z-index: 99;
}
.navbar .nav-brand {
  max-width: 7rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-right: 1.25rem;
  justify-content: left;
}
.navbar .nav-brand img {
  width: 100%;
}
.navbar .nav-option {
  display: flex;
  flex-wrap: nowrap;
  align-self: flex-end;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(1.1 * var(--fs-300));
}
.navbar .nav-option .nav-item {
  margin-left: 1.33rem;
  margin-right: 1.33rem;
}
.navbar .nav-option .nav-item a {
  color: #ffffff;
}
.navbar .nav-option .nav-item a:hover {
  color: #00c3ff;
  transition: all 500ms;
}
.navbar .nav-connect {
  margin-left: 1.25rem;
}

#hero-section {
  min-height: 100vh;
  overflow: hidden;
  opacity: 100%;
  transition: all 1s;
}
#hero-section .hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 68vh;
  max-height: 70vh;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 80;
}
#hero-section .hero .btn-row {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-evenly;
}
#hero-section .hero .btn-row a {
  margin-left: 2rem;
  margin-right: 2rem;
}
#hero-section .gradients {
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
}
#hero-section .gradients .grad-el {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 40%;
}
#hero-section .gradients .grad-el:nth-child(1) {
  top: 15vh;
  left: 12vw;
  box-shadow: 0 0 8rem 7rem #5b0466;
}
#hero-section .gradients .grad-el:nth-child(2) {
  bottom: -55vh;
  right: -43vw;
  box-shadow: 0 0 10rem 5rem #b700ff;
}
#hero-section .gradients .grad-el:nth-child(3) {
  top: 15vh;
  right: -75vw;
  box-shadow: 0 0 10rem 9rem #9f39ff;
}
#hero-section .particles {
  max-width: 100%;
  z-index: 15;
  background-color: #ffffff;
}
#hero-section .particles .dust {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 20%;
  overflow: hidden;
  background-color: #ffffff;
  opacity: 0%;
  transition: all 250ms;
  animation: floatInVoid 5s ease-in infinite;
}
#hero-section .particles .dust:nth-child(1) {
  top: 5vh;
  animation-delay: 4.73s;
}
#hero-section .particles .dust:nth-child(2) {
  top: 37vh;
  animation-delay: 1.98s;
}
#hero-section .particles .dust:nth-child(3) {
  top: 72vh;
  animation-delay: 2.41s;
}
#hero-section .particles .dust:nth-child(4) {
  top: 14vh;
  animation-delay: 5.15s;
}
#hero-section .particles .dust:nth-child(5) {
  top: 89vh;
  animation-delay: 3.27s;
}
#hero-section .particles .dust:nth-child(6) {
  top: 50vh;
  animation-delay: 2.84s;
}
#hero-section .particles .dust:nth-child(7) {
  top: 63vh;
  animation-delay: 1.63s;
}
#hero-section .particles .dust:nth-child(8) {
  top: 23vh;
  animation-delay: 4.52s;
}
#hero-section .particles .dust:nth-child(9) {
  top: 98vh;
  animation-delay: 5.81s;
}
#hero-section .particles .dust:nth-child(10) {
  top: 8vh;
  animation-delay: 3.09s;
}
#hero-section .particles .dust:nth-child(11) {
  top: 56vh;
  animation-delay: 2.16s;
}
#hero-section .particles .dust:nth-child(12) {
  top: 76vh;
  animation-delay: 5.94s;
}
#hero-section .particles .dust:nth-child(13) {
  top: 42vh;
  animation-delay: 1.25s;
}
#hero-section .particles .dust:nth-child(14) {
  top: 95vh;
  animation-delay: 4.05s;
}
#hero-section .particles .dust:nth-child(15) {
  top: 68vh;
  animation-delay: 3.73s;
}

#call-to-action {
  min-height: 100vh;
  overflow-y: hidden;
  border-bottom: 2px solid #282828;
  margin-bottom: 1.2rem;
}
#call-to-action .countdown {
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 102, 255, 0.3019607843);
  font-size: var(--fs-400);
  word-spacing: 1rem;
  text-align: center;
}
#call-to-action .countdown #timer {
  font-size: calc(1.25 * var(--fs-900));
}
#call-to-action .sales-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  text-align: center;
  padding-bottom: 2rem;
}
#call-to-action .sales-details h1,
#call-to-action .sales-details h2 {
  font-weight: 700;
}
#call-to-action .sales-details h1 b,
#call-to-action .sales-details h2 b {
  font-size: calc(1.5 * var(--fs-900));
  letter-spacing: 3px;
}

#overview {
  min-height: 50vh;
  overflow-y: hidden;
  padding-top: 5%;
}
#overview .overview-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#overview .overview-detail .image {
  padding: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  align-content: center;
}
#overview .overview-detail .image img {
  opacity: 90%;
  width: 100%;
}
#overview .overview-detail .image img:hover {
  opacity: 100%;
  transition: all 1s;
}

#tokenomics {
  position: relative;
  min-height: 50vh;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
}
#tokenomics .gradients {
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
}
#tokenomics .gradients .grad-et {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 40%;
}
#tokenomics .gradients .grad-et:nth-child(1) {
  top: 25vh;
  left: 0vw;
  box-shadow: 0 0 6rem 9rem #5b0466;
}
#tokenomics .gradients .grad-et:nth-child(2) {
  bottom: -45vh;
  right: -83vw;
  box-shadow: 0 0 5rem 5rem #b700ff;
}
#tokenomics .gradients .grad-et:nth-child(3) {
  top: 25vh;
  right: -45vw;
  box-shadow: 0 0 8rem 7rem #9f39ff;
}
#tokenomics .heading {
  margin-bottom: 1rem;
}
#tokenomics .loader {
  display: flex;
  width: 100%;
  height: 3rem;
  background: linear-gradient(90deg, transparent, #ffffff, transparent);
  animation: loading 2s infinite;
  background-size: 200% 100%;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
  box-shadow: 2px 3px 8px 1px #282828;
}
#tokenomics .loader .bar {
  width: auto;
  max-width: 100%;
  height: 100%;
  opacity: 90%;
  backdrop-filter: blur(7px);
}
#tokenomics .item-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-top: 0.6rem;
  padding-bottom: 1.5rem;
}
#tokenomics .item-list .value {
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: var(--fs-500);
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  opacity: 90%;
}
#tokenomics .item-list .value i {
  content: "";
  position: absolute;
  opacity: 100%;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  transform: translateY(-50%);
  top: 50%;
  left: -1.5rem;
  background-color: inherit;
}

/*  Custom SCSS Pack   */
/*  Component SCSS Modules  */
/*  Section SCSS Modules  */

/*# sourceMappingURL=style.css.map */
